h2.comments { /* hide the comments heading */
  display:none;
}
#procon {
    float: left;
    width: 100%;
}
/* pro */
#procon-1 {
  width:47%;
  float:left;
}
#procon-1 h2.procon {
  color:#006600;
}
/* con */
#procon-2 {
  width:47%;
  float:right;
}
#procon-2 h2.procon {
  color:#990000;
}
#procon .node-argument-wrapper{
	border-bottom: 1px solid #e9eff3;
}
.argument-link ul.links{
	padding: 0;
}
.argument-link ul li {
    font-size: 14px;
    list-style: outside none none;
}
#procon .node-argument-wrapper .field-name-body{
	max-height: 200px;
	line-height: 20px;
	overflow-y: hidden;
	margin-bottom: 20px;
}
/*Stars*/
.user-ratting .stars{
	font-size:24px;
}
.stars.starY{
	color:#FFD000;
}
.stars.starG{
	color:#D3D3D3;
}